.container{
    max-width: 700px;
    overflow-y: auto;
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgb(158, 145, 145);
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: solid rgb(95, 95, 100) .5px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
    } 